
.mb-3{
    width: 40%;
    height: 30%;
    margin-left: 30%;
    margin-top: 5%;
}

h4{
    font-family: 'Outfit', sans-serif;
font-family: 'Rubik Spray Paint', cursive;
text-align: center;
}

h1{
    margin-top: 4%;
}

